.MyButton {
    padding: 12px 20px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    display: block;
    width: fit-content;
}